.homepage {
  text-align: center;
  background-color: #f8f8f0;
}

.banner img {
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: cover;
}

.welcome-text {
  padding: 30px;
  color: #000;
}

.welcome-text h1 {
  font-size: 36px;
  font-weight: bold;
}

.welcome-text h1 span {
  color: #3799a0;
}

.welcome-text p {
  font-size: 18px;
  margin: 10px 0;
}
