.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3799a0;
  padding: 10px 30px;
  color: white;
}

.logo img {
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.logo span {
  font-weight: bold;
  font-size: 18px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  text-decoration: underline;
}
